// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base

  --font-family: "Open Sans";
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}
