@import "vars";
@import "mixins";
@import "fonts";
@import "vendor";
@import "settings";

// CUSTOM COMPONENTS STYLES
// .burger {
//   --burger-width: 40px;
//   --burger-height: 20px;
//   --burger-line-height: 2px;

//   @include burger;
// }
